<div class="container">
    <div class="alert alert-success">
        <p class="mark">You car: {{name}}</p>
        <p class="model">Model car: {{model}}</p>
    </div>
    <div class="alert alert-success">
        <p class="tth_car">TTH {{name}}</p>
        <ul class="list_tth">
            <li class=""> speed: {{speed}}</li>
            <li class=""> color car: {{colors.car}}</li>
            <li class=""> color salon: {{colors.salon}}</li>
            <li class=""> colors wheels: {{colors.wheels}}</li>
        </ul>
    </div>
    <div class="alert alert-success">
        <p class="">what functions have in {{name}} car</p>
        <ul class="">
            <li *ngFor="let ArrayOpiotns of options;
            let i = index
            ">{{ArrayOpiotns}}</li>
        </ul>
    </div>
    <div class="block_car">
        <p class="">Выберите автомобиль</p>
        <div class="choose_car">
            <button class="btn btn-danger" 
            (click)="carSelect('BMW')">BMW</button>
            <button class="btn btn-danger"
            (click)="carSelect('AUDI')">Audi</button>
            <button class="btn btn-danger"
            (click)="carSelect('MERCEDES')">Mercedes</button>
        </div>
    </div>
</div>